제미나이가 알려준 질감 넣는 방법 굿
/* body {
    1. 기본 바탕이 되는 어두운 배경색 지정
    background-color: #16161a;
    2. 미세한 가로줄 무늬 패턴 생성
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 2px,
        rgba(255, 255, 255, 0.03) 2px,  흰색 선에 투명도를 아주 낮게 주어 은은하게 표현
        rgba(255, 255, 255, 0.03) 3px
    );
} */

header {
  border: 1px solid red;
  padding-top: 0; padding-bottom: 0;
  padding-left: 410; padding-right: 410;
background-color: ;
}
main{
  background-color: black;
  height: 2000px;width: 100%;
  color: #ececec;
}
footer{
  background-color: black;
  color: #ececec;
}
.top-bar{
  background-color: black;
  border-bottom: 1px solid #ececec;
}

/* 팝업 */
.popup-img{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  /* 색절대 바꾸지 말기 */
  background-color: rgb(48, 41, 34);
}
.popup-img1>a{
  border: 1px solid red;
display: flex;
justify-content: center;
}
.top-util{
  width: 1100px;
  border: 1px solid red;
  padding-left: 410px; padding-right: 410px;
  font-size: 12px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.util-ul{
  border: 1px solid red;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
}
.util02-ul{
  border: 1px solid red;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}
.menu01{
  border: 1px solid red;
  display: flex;
  flex: 1;
  justify-content: center;

}
.menu01-ul{
  border: 1px solid rgb(255, 134, 134);
  display: flex;
  color: aliceblue;
  align-items: center;
  gap: 104px;
}
.logo-box{
  transform: translateY(-30%);
  border: 1px solid #ff0000;
  padding-left: 60px; padding-right: 60px;
  display: flex;
  align-items: center;
}
.event-box-ul{
  border: 1px solid red;
  gap: 60px;
  display: flex;
}
.event-box-ul>li {
  border: 1px solid red;
  color: aliceblue;

}
