header {
  border: 1px solid red;
  padding-left: 410; padding-right: 410;
  background-color: black;

}
/* 팝업 */
.popup-img{
  border: 1px solid red;
  /* 색절대 바꾸지 말기 */
  background-color: rgb(48, 41, 34);
}
.popup-img>a{
  border: 1px solid red;
display: flex;
justify-content: center;
}
.top-util{
  border: 1px solid red;
  padding-left: 410px; padding-right: 410px;
  font-size: 12px;
  color: aliceblue;

  display: flex;
  justify-content: space-between;
}
.util-ul{
  border: 1px solid red;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
}
.util02-ul{
  border: 1px solid red;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}
.menu01{
  border: 1px solid red;
  display: flex;
  justify-content: center;

}
.menu01-ul{
  border: 1px solid rgb(255, 134, 134);
  display: flex;
  color: aliceblue;
  align-items: center;
  gap: 104px;
}
.logo-box{
  border: 1px solid #ff0000;
  padding-left: 60px; padding-right: 60px;
  display: flex;
  align-items: center;
}
.event-box-ul{
  border: 1px solid red;
  gap: 60px;
  display: flex;
}
.event-box-ul>li {
  border: 1px solid red;
  color: aliceblue;

}
