/* 배너 */
header{
    /* border: 1px solid red ; */
    background-color: black;
}
/* 팝업 이미지 */
.popup-banner{
    background-color: rgb(44, 41, 41);
    position: relative;
    width: 100%;
    margin: auto;
}
/* 팝업 배너 이미지 */
.popup-img>a{
    display: flex;
    justify-content: center;
}
.popup-button{
position: absolute;
bottom: 0px;       /* 하단에서 10px 위로 */
right: 0px;        /* 오른쪽에서 10px 옆으로 */
z-index: 10;
}
/* .popup-button a {
  display: block;
} */
.top-bar{
background-color: #000; /* 전체 배경색 */
  padding: 10px 0;
}
/*유저박스1/2를 담고 있는 상자*/
.top-util{
width: 1100px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
color: aliceblue;
}
.util-ul{
  /* border: 1px solid red; */
  gap: 20px;
  display: flex;
}
.util02-ul{
  /* border: 1px solid red; */
  gap: 20px;
  display: flex;
}
.menu01{
  display: flex;
  flex: 1;
  justify-content: center;
}
.menu01-ul{
  display: flex;
  color: aliceblue;
  align-items: center;
  gap: 104px;

}
.logo-box{
  transform: translateY(-30%);
  padding-left: 60px; padding-right: 60px;
  display: flex;
  align-items: center;
}
.logo-box img{
    width: auto;
    height: 40px;
    display: block;
}
.event-box-ul{
  gap: 60px;
  display: flex;
}
.event-box-ul>li {
  color: aliceblue;
}